
.main{

}

.head{
    background-color: #FF6600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hr{
    border-left: 6px solid #000;
    height: auto;
}
.links{
    padding-right: 10px;
    margin-left: 1rem;
    border-right: 2px solid #000;
    font-size: 1.5rem;
}
.footer_link{
    padding: 0 1rem;
    text-decoration: none;
    color: #000;
}